.container{

    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header header"
    "sidebar main aside";
}

.sidebar{

    display: grid;
    grid-area: sidebar;
    background-color: #60A5FA;
    align-content: start;
}

main{

    display: grid;
    grid-area: main;
    background-color: gray;
    grid-auto-flow: column;
}

.projects{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.projects > .card{

    background-color: white;
}

header{

    display: grid;
    grid-area: header;
    background-color: white;
    gap: 20px;
}

.top-header{

    display: grid;
    grid-auto-flow: column;
}

.bottom-header{

    display: grid;
    grid-auto-flow: column;
}

aside{

    display: grid;
    grid-area: aside;
    
}

.logo{

    display: flex;
    justify-content: start;
}

/* https://stackoverflow.com/questions/5093427/css-using-images-instead-of-bullets */

.first-half > li:nth-child(1){

    list-style-image: url("/assets/home-outline.svg")
}

.first-half > li:nth-child(2){

    list-style-image: url("/assets/card-account-details-outline.svg")
}

.first-half > li:nth-child(3){

    list-style-image: url("/assets/message-reply-outline.svg")
}

.first-half > li:nth-child(4){

    list-style-image: url("/assets/clock-time-three-outline.svg")
}

.first-half > li:nth-child(5){

    list-style-image: url("/assets/note-multiple-outline.svg")
}

.first-half > li:nth-child(6){

    list-style-image: url("/assets/account-group-outline.svg")
}

.second-half > li:nth-child(1){

    list-style-image: url("/assets/cog-outline.svg")
}

.second-half > li:nth-child(2){

    list-style-image: url("/assets/help-rhombus-outline.svg")
}

.second-half > li:nth-child(3){

    list-style-image: url("/assets/shield-check-outline.svg")
}